/* Local stylesheets */
@import "fonts.css";
@import "animations.css";
@import "effects.css";

/* Library stylesheets */
@import "aos/dist/aos.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --g1: #282828;
    --g2: #0F0F0F;
    --p1: #3500D3;
    --p2: #240090;
    --p3: #190061;
    --p4: #0C0032;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}